<div class="jumbotron">
  <div class="container">
	  <h1>Hello, this blog is for YOU!</h1>
	  <p>a new way to love your post ... </p>
	</div>
</div>

<div calss="row">
	<div class="col-md-6">
			<div class="well">
				<h2>What we confirm?</h2>
				<p>Easy to post, comftable, secure and most visiting<p>
				<%= link_to "Make a new post", new_blog_path , class: "btn btn-primary btn-lg" %>
			</div>
	</div>
	<div class="col-md-6">
		<div class="well">
			<h2>What you will get?</h2>
			<p>Numerous posts, all friends, recent news and more <p>
			<%= link_to "See all posts", blogs_path , class: "btn btn-success btn-lg" %>
		</div>
	</div>
</div>